body {
  margin: 0;
  font-family: 'Quicksand',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3E9DD !important;
}

code {
  font-family: 'Quicksand',sans-serif;
}

/*LOGIN*/

.login-h1 {
  font-size: 50px;;
  font-weight: 600;
  display: block;
  margin: 5% 25%;
  padding: 5px 5px;
  color: #DAB88B;
  text-align: center;
}

.login-form-container {
  justify-content: center;
}

.login-form {
  max-width: 300px;
}

#normal_login {
  display: block;
  margin: 5% 30%;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

/* GENERAL*/

.btnStyle{
  background-color: #DAB88B !important;
  border-style: none !important;
  font-family: 'Quicksand',sans-serif!important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

/*HOME*/

.homeHead{
  display: flex;
}

.homeHeadTitle{
  font-size: 13vh;
  font-weight: 600;
  margin: 5% auto;
  padding: 5px 10px;
  color: #DAB88B;
  border: 10px solid #FDF6EC;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #F3E9DD !important;
}

.ant-menu{
  background: #DAB88B !important;
  font-family: 'Quicksand',sans-serif!important;
  font-size: 18px !important;
  font-weight: 800 !important;
}

.ant-menu :hover{
  background-color: #DAB88B !important;
}
  
/* PROFILE H*/

.profileHead{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
}
.profTitle {
  font-size: 4.5vh;
  font-family: 'Quicksand',sans-serif !important;
  font-weight: 800 !important;
  color: white ;
	background: #DAB88B;
  border: 3px solid white;
  /*color: #DAB88B;
  border: 5px solid white;*/
  padding: 5px 15px;
}

.profSubTitleDiv{
  display: flex;
  justify-content: center;
  margin: 5%;
}

.profSubTitle {
  font-size: 6vh;
  font-family: 'Quicksand',sans-serif !important;
  font-weight: 900 !important;
  color: #c9a06a;
  border: 5px solid white;
  padding: 5px 15px;
  width: fit-content;
}




/* ALERTS PROFILE*/
.alertsProfile{
  font-family: 'Quicksand',sans-serif !important;
}

.alertsProfile > div {
  width: 45vw;
  
}

.alertsProfile > h2 {
  font-size: 6vh;
  font-family: 'Quicksand',sans-serif !important;
  font-weight: 900 !important;
  color: #c9a06a;
  border: 5px solid white;
  padding: 5px 15px;
  width: fit-content;
  margin-left: 36%;
  margin-bottom: 3%;
}

.ant-alert-success {
  background-color: #fdf8f4!important;
  border: 2px solid white!important;
  margin-left: 57%!important;
}

.ant-alert-info {
  background-color: #fdf8f4!important;
  border: 2px solid white!important;
  margin-left: 57%!important;
}


.test{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}







/* PRODUCTS CARD*/
.divCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white !important;
  font-family: 'Quicksand',sans-serif;
}

.ant-card-body{
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand',sans-serif;
}

.divCardImg{
  align-self: center;
  margin-bottom: 3vh;
}

.divEditDeleteBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand',sans-serif;
}

.productsListProfile  {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 2%;
}

.ant-card-head-title{
  font-family: 'Quicksand',sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #c9a06a;
}
.ant-card-meta-title{
  font-family: 'Quicksand',sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}


/* BTNS PROFILE*/
.singleDeleteBtn{
  margin: 5px;
  font-family: 'Quicksand',sans-serif;
}

.updateBtn{
  margin: 5px;
  font-family: 'Quicksand',sans-serif;
}

.profLogOut{
  font-family: 'Quicksand',sans-serif;
}

/* BTNS HOME*/

.homeLogOut{
  margin-top: 2%;
  margin-right: 5%;
  font-family: 'Quicksand',sans-serif;
}

.btnWant{
  margin-top: 10%;
  margin-bottom: 10%;
}

/*Modal Info*/

.ant-modal-confirm .ant-modal-body{
  background-color: #FDF6EC !important;
}

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon{
  color: #B7CADB !important;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 8px !important;
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 16px !important;
}

.ant-btn-primary {
  color: #fff;
  background-color: #DAB88B !important;
  font-weight: 600 !important;
  border-style: none !important;
  font-family: 'Quicksand',sans-serif!important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}


/*CREATE PRODUCT FORM*/

#root > div > div > div > div.createProdDiv > div > form{
  width: 270% !important;
}

/* Create Products PROFILE*/

.createProdDiv{
  display: flex;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.createBtn1{
  font-size: 18px !important;
}

.ant-modal-header{
  background-color: #DAB88B!important;
  
}

.ant-modal-title{
  font-size: 20px !important;
  color:white !important;
  font-weight: 800 !important;
}