body {
  margin: 0;
  font-family: 'Quicksand',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: purple !important;*/
}

code {
  font-family: 'Quicksand',sans-serif;
}

.login-h1 {
  font-size: 5vh;
  font-weight: 600;
  display: block;
  margin: 5% auto;
  padding: 5px 10px;
  color: #DAB88B;
}

.login-form-container {
  justify-content: center;
}

.login-form {
  max-width: 300px;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

/* GENERAL*/

.btnStyle{
  background-color: pink !important;
}


/* PROFILE H*/
.profTitle {
  font-size: 40px;
  font-family: 'Quicksand',sans-serif;
  font-weight: 900 !important;
  margin: 24px;
}

.profSubTitle {
  font-size: 30px;
  font-family: 'Quicksand',sans-serif;
  font-weight: 500 !important;
  margin-left: 30px;
}


/* ALERTS PROFILE*/
.alertsProfile{
  font-family: 'Quicksand',sans-serif;
}

.alertsProfile > div {
  width: 50vw;
}

/* PRODUCTS CARD*/
.divCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine !important;
  font-family: 'Quicksand',sans-serif;
}

.ant-card-body{
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand',sans-serif;
}

.divCardImg{
  align-self: center;
  margin-bottom: 3vh;
}

.divEditDeleteBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand',sans-serif;
}



/* BTNS PROFILE*/
.singleDeleteBtn{
  margin: 5px;
  font-family: 'Quicksand',sans-serif;
}

.updateBtn{
  margin: 5px;
  font-family: 'Quicksand',sans-serif;
}

.profLogOut{
  margin-left: 30px;
  margin-bottom: 24px;
  font-family: 'Quicksand',sans-serif;
}




/* BTNS HOME*/

.homeLogOut{
  margin-left: 30px;
  font-family: 'Quicksand',sans-serif;
}

.productsListProfile  {
  display: flex;
  flex-wrap: wrap;
 
}
